/* CSS declarations go here */

h1 {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 70px;
	line-height: 100px;
	margin-top: 15px;
}
 
h2 {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
}
 
p {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 25px;
}

p.subtitle {
  margin-left: 3.5em;
  margin-top: -10px;
  margin-bottom: 30px;
	font-size: 15px;
	font-style: italic;
}

.story-stamp {
  font-color: grey;
	font-size: 13px;
	line-height: 25px;
	margin-bottom: 15px;
	margin-right: 10px;
}

.clearfix {
  clear: both;
}

.admin {
  position: absolute;
  right: 12px;
  top: 12px;
}