/* CSS declarations go here */

h1 {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 70px;
	line-height: 100px;
	margin-top: 18px;
}
 
h2 {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	margin-bottom: 15px;
}

p {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 25px;
}

p.subtitle {
  color: grey;
  margin-top: -10px;
  margin-bottom: 16px;
	font-size: 15px;
	font-style: italic;
}

.story-divider {
  margin-bottom: 30px;
}

.story-stamp {
  color: grey;
	font-size: 13px;
	line-height: 25px;
	margin-bottom: 0px;
	margin-right: 10px;
}

.story-body p {
  margin-bottom: 20px;
}

.clearfix {
  clear: both;
}

.admin {
  position: absolute;
  right: 12px;
  top: 12px;
}

.admin .user {
  color: grey;
}

.admin .controls {
  margin-left: 5px;
}
